.jumbotron{
	background-color: #DFEB1F; 
	color: #104076;
	padding: 100px 25px
	font-family: sans-serif;
	text-align: center;
}	

.container-fluid{
	padding: 40px 50px;
}
.bg-grey {
background-color: #76A5DA;

}
@media screen and (min-width:320px) {
	img {
	    max-width:100%;
	}
}
@media screen and (min-width:768px) {
	img {
	    max-width:150px;
	}
}
@media screen and (min-width:980px) {
	img {
	    max-width:225px;
	}
}
@media screen and (min-width:1200px) {
	img {
	    max-width:300px;
	}
}

